.App {
  font-family: sans-serif;
  text-align: center;

}

body{
  background-color: rgb(51, 62, 208);
  @media screen and (max-width: 600px) {
    .carosel{
      justify-content: space-between;
    }
    .carosel{
      h1{
        font-size: 14px;
      }
      img{
        padding: 0;
        height: 70px;
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
      }
    }
    .cards{
      border-radius:15px;
      img{
        height: 80px;
        width: 100%;
        aspect-ratio:1/1;
        object-fit:cover;
      }
    margin: 10px;
    border:none;
    
    }
   
  }
}

.carousel{
  height: 110px;
    background-color: rgb(6, 20, 69);
    color: white;
    margin-top: 20px;
    overflow: hidden;
    // width: 70%;
    border-radius: 15px;
  padding: 10px;
  // margin-left: 15%;
  
  }

.carosel{
  display: flex;
  flex-direction: row;
  gap: 30px;
  justify-content: space-around;

  img{
   
    height: 110px;
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
  
    
  }
  h1{
    font-size: 18px;
  }
}

.cards{
  border-radius:15px;
  img{
    height: 100px;
    width: 100%;
    aspect-ratio:1/1;
    object-fit:cover;
  }
margin: 10px;
border:none;

}

.sources{
  h1{
    text-align: center;
    border-bottom: 1px solid white;
    font-size: 25px;
    margin-top: 10px;
  color: white;
  }
}

.category{
  h1{
    text-align: center;
    border-bottom: 1px solid white;
    font-size: 25px;
    margin-top: 10px;
    color: white;
  }
}





.card{
background-color:rgb(1, 1, 63);
color: white;
border-radius: 0;
height:450px;
margin:10px auto;
img{
padding: 5px;
}
p{
  font-size: 18px;
}
read_more{
  justify-content: start;

}
}


.header{
  display: flex;
  justify-content: space-between;
padding-left: 20px;
padding-right: 20px;
background-color:rgb(2, 2, 58);
color: white;
height: 30px;
h7{
  font-weight: 999;
}
}


.btn-danger {
  margin: 2px 85%;
  border-radius: 50%;
}
.Modal {
  position: absolute;
  height: auto;
  width: 60%;
  margin-top: 10%;
  color: white;
  margin-left: 20%;
  background-color: rgb(8, 8, 116);
  padding: 10px;
  text-align: center;
  box-shadow: 10px 10px 14px rgba(0, 0, 0, 0.6);
  border-radius: 15px;
  h1{
    font-size: 20px;
  }
  p{
    color: rgb(160, 156, 156);
  }
}
.btn-primary {
  background-color: rgb(4, 4, 116);
  width: 140px;
  font-size: 20px;
  border-radius: 15px;
  font-weight: 900;
  box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.6);
}
.Modal h1::after {
  content: "";
  display: block;
  height: 5px;
  width: 70%;
  background-color: white;
  margin-left: 15%;
}
.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
}
img{
  width: 80%;
  max-height: 50%;
  aspect-ratio: 1/1;
  object-fit: cover;
}
.content{
  display:flex;
  flex-direction: row;
}

@media screen and (max-width: 600px){
  .content{
    display:flex;
flex-direction: column;
h1{
text-align: left;
font-size: 18px;
}
p{
  text-align: left;
}

  }
}